.footer_content {
    padding-top: 25px;
    border-top: 1px solid #949292;
    display: flex;
    column-gap: 150px;
    flex-wrap: wrap;
    row-gap: 50px;
    
}

.fot1,
.fot2 {
    display: flex;
    column-gap: 150px;
}

.list_title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;

    color: #000000;
}

.footer_list li {

    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;

    color: #434343;

}

.footer {
    margin-top: 45px;
}

.fa-brands,
.fa-solid {
    font-size: 25px;
    background-color: #313639;
    padding: 10px;
    color: white;
}

.footer_icons {
    max-width: 195px;
    display: flex;
    gap: 10px;
    row-gap: 0px;
    flex-wrap: wrap;
    float: right;
    margin-top: 40px;
}

.footer_icons a {
    height: 45px;
}


.footer_rules {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;

    color: #FFFFFF;
}

.footer_text_rules {
    margin-top: 122px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #191F22;
}

@media(max-width:838px){
    .footer_content{
        justify-content: center;
    }
}


@media(max-width:349px) {

    .fot1,
    .fot2 {
        display: flex;
        column-gap: 50px;
    }
    .footer_rules{
        font-size: 10px;
    }

}


@media(max-width:381px){
    .footer_rules{
        margin: 0 15px;
    }
}

.footer_list li>a{
    color: #000000;
}