.functional {
    margin-top: 57px;
}


.func_title {
    max-width: 350px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.func_parapgraph {
    max-width: 410px;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.func_span {
    color: red;
    font-weight: 500;
    font-size: 21px;
}

.func_video {
    max-width: 560px;
    align-items: center;


}

.func_p_video {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    margin-top: 9px;
    line-height: 17px;
}

.func_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fv {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 315px;
}

@media(max-width:1066px) {
    .func_content {
        flex-direction: column;
        align-items: center;
    }

    .func_video {
        margin-top: 48px;
    }

}

@media(max-width:483px) {
    .func_p_video {
        font-size: 14px;
        line-height: 13px;
    }
}

@media(max-width:326px) {
    .func_p_video {
        font-size: 12px;
        line-height: 10px;
    }

    .func_parapgraph {
        font-size: 16px;
        line-height: 20px;
    }

    .func_span {
        font-size: 17px;
    }
    .fv{
        height: 202px;
    }
}