.partner {
    background-color: #191F22;
    margin-top: 50px;
}

.partner_class {
    font-family: 'Bari Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    padding-top: 69px;
    text-align: center;
    margin-bottom: 100px;
}

.partner_blocks {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.patrner_block {
    max-width: 226px;
    text-align: center;
}

.patrner_block img {
    max-width: 189px;
    margin: 0 auto;
}



.partner_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-top: 35px;
}

.partner_sub {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: 31px;
    color: #DD0000;
    margin-top: 15px;
}

.partner_p {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 43px;
}

.gallery {
    background-color: #191F22;
    padding-top: 85px;
    padding-bottom: 82px;

}

.gallery_block img{
    width: 33%;
}

.gallery_block {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 894px;
}

.cert {
    padding-top: 1px;
    padding-bottom: 50px;
}

.cert_block {
    max-width: 350px;

}
.frame_size{
    width: 100%;
    height: 315px;
}


.cert_info {
    margin-bottom: 64px;
}

.cert_title {
    margin: 21px 0px 24px 0px;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;

}

.cert_p {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 50px;

}

.cert_but {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 11px 38px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: 0.3s linear;
}

.cert_but:hover {
    background-color: #FFFFFF;
    color: #DD0000;
    transition: 0.3s linear;

}

.cert_blocks {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
}


.feedback {
    padding-top: 1px;
    background-color: #191F22;
    padding-bottom: 90px;
}

.h40 {
    text-align: center;
}

.mw{
    max-width: 100%;
}

.mt {
    margin-top: 90px;
}

.feed_p {
    margin-top: 20px;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed_block {
    max-width: 460px;
}


.span_fed {
    color: #EE0303;
    text-decoration: underline;
}


.feed_blocks {
    display: flex;
    justify-content: space-between;
}


@media(max-width:800px) {
    .partner_blocks {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .patrner_block {
        margin: 0 auto;
    }

    .partner_class {
        padding-top: 69px;
    }
    
}

@media(max-width:656px){
    .gallery_block img{
        width: 50%;
    }
}
@media(max-width:413px){
    .gallery_block{
        margin: 0px 15px;
    }
    
}

@media(max-width:1049px){
    .feed_blocks{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .feed_block{
        margin: 0 auto;
    }
}



@media(max-width:320px){
    .frame_size{
        height: 250px;
    }
    .feed_p{
        font-size: 12px;
    }
}
