.slider {
    margin-top: 118px;
}



.swiper_title {
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-align: center;
    margin-bottom: 33px;
}

.swiper_par {
    font-family: 'Abel', sans-serif;
    max-width: 776px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.swiper_block {
    background-color: #191F22;
    padding: 82px 0px;
    margin-top: 50px;

}



.slider_info {
    padding: 0 15px;
}

@media(max-width:340px) {
    .swiper_par {
        font-size: 12px;
    }

}